<a href="https://colab.research.google.com/github/mercynt/python17/blob/main/Getting_started_sat.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **GETTING STARTED**

In [ ]:
6-3

3

In [ ]:
x=3
y=4
print(x+y)

7

In [ ]:
x=6
print (x)

6

In [ ]:
print("Hello World!") #this is a string

Hello World!

In [ ]:
x=2
y=3
xy=x**2-5*x+y
print(xy)

-3

In [ ]:
type(True)

bool

In [ ]:
n=-4.25
type(n)

float

In [ ]:
j=-25
type(j)

int

In [ ]:
type("Hello")

str

In [ ]:
jj =["apple","cherry","Banana"]
type(jj)

list

In [ ]:
jj[2]

'Banana'

In [ ]:
jj =["apple",2,4]

jj[0]="orange"
print(jj)

['orange', 2, 4]

In [ ]:
school ={"student":"Mary", "grade":80}
school.update({"course":"Python"})
print(school["course"])

Python

In [ ]:
fruits = {"apple", "mango", "cherry"}
type(fruits)
fruits.add("Banana")
print(fruits)

{'mango', 'Banana', 'apple', 'cherry'}

In [ ]:
print(fruits)

{'mango', 'Banana', 'apple', 'cherry'}

In [ ]:
2

In [ ]:
tuple1 =("apple","cherry","orange","cherry")
type(tuple1)
tuple1[-1]

'cherry'

In [ ]:
tuple1=("apple","cherry","orange")
type(tuple1)

tuple

In [ ]:
country_name = "United Kingdom"
City_name ="London"
print(country_name)

United Kingdom

In [ ]:
print(City_name)

London

In [ ]:
len(City_name)

6

In [ ]:
num =-423.5
str(num)

'-423.5'

In [ ]:
num1=-60.23
int(num1)

-60

In [ ]:
num3 ="423"
type(num3)

str

In [ ]:
int(num3)

423

In [ ]:
10+6

16

In [ ]:
"10"+"6"

'106'

In [ ]:
print("Their apparent \"intention\" was honest")

Their apparent "intention" was honest

In [ ]:
print("Here is a \nnew line \nDo you like it")

Here is a
new line
Do you like it

In [ ]:
print("Today is 5 \bth of \bNovember")

Today is 5 th of November

In [ ]:
print("Today is 5 th of \tNovember")

Today is 5 th of 	November

In [ ]:
print("HELLO")

HELLO

In [ ]:
mystring1="HELLO"

In [ ]:
mystring1[4]

'O'

In [ ]:
mystring1="HELLO"
mystring1[-5]

'H'

In [ ]:
mystring1="HELLO"
mystring1[0:4]

'HELL'

In [ ]:
mystring1="HELLO"
mystring1[::3]

'HL'

In [ ]:
mystring1="HELLO"
mystring1[::2]

'HLO'

In [ ]:
mystring1="HELLO"
mystring1[:2]

'HE'

In [ ]:
mystring1="HELLO"
mystring1[1:3:2]
EL

'E'

In [ ]:
mystring1="HELLO"
mystring1[::1]

'HELLO'

In [ ]:
str1 ="Hello, today is"
str2 ="5th November"

In [ ]:
print(str1+" "+str2)

Hello, today is 5th November

In [ ]:
str3= "write this 4 times\n"
print(str3*4)

write this 4 times
write this 4 times
write this 4 times
write this 4 times

In [ ]:
10+6

16

In [ ]:
"10"+"6"

'106'

In [ ]:
str4="errpr"
str4[3]="o"

TypeError: ignored

In [ ]:
str5 = "hey this is a string"
str5.capitalize()

'Hey this is a string'

In [ ]:
str5 = "hey this is a string"
str5.title()

'Hey This Is A String'

In [ ]:
str5 = "hey this is a string"
str5.upper()

'HEY THIS IS A STRING'

In [ ]:
str6 ="HEY THIS IS A STRING"
str6.lower()

'hey this is a string'

In [ ]:
str6.casefold()

'hey this is a string'

In [ ]:
str5 = "hey this is a string"
str5.find("i")

6

In [ ]:
str4="errpr"
str4.replace("p","o")

'error'

In [ ]:
str5 = "hey this is a string"
str5.count("i")

3

In [ ]:
str5 = "hey this is a string"
str5.split("i")

['hey th', 's ', 's a str', 'ng']

In [ ]:
"my salary will be {} by next April".format(5000)

'my salary will be 5000 by next April'

In [ ]:
str7 = "my salary will be {} by next April"
salary =5000
print(str7.format(salary))

my salary will be 5000 by next April

In [ ]:
str8 = "I bought {} kg of {} that cost {} pounds"
product = "apples"
weight = 10
cost = 20
print(str8.format(weight,product,cost))

I bought 10 kg of apples that cost 20 pounds

In [ ]:
str8 = "I bought {1} kg of {0} that cost {2} pounds"
product = "apples"
weight = 10
cost = 20
print(str8.format(product,weight,cost))

I bought 10 kg of apples that cost 20 pounds

In [ ]:
str8 = "I bought {a} kg of {b} that cost {c} pounds"
product = "apples"
weight = 10
cost = 20
print(str8.format(b=product,a=weight,c=cost))

I bought 10 kg of apples that cost 20 pounds

In [ ]:
"I bought %d kg of %s that cost %f pounds" %(10,"apple",20.5)

'I bought 10 kg of apple that cost 20.500000 pounds'

In [ ]:
"I bought %d kg of %s that cost %d pounds" %(10,"apple",20)

'I bought 10 kg of apple that cost 20 pounds'

In [ ]:
print("this string %a missing"%"something")

this string 'something' missing

In [ ]:
10*5

50

In [ ]:
3**2

9

In [ ]:
5%3

2

In [ ]:
x=4
y=5
x<=y

True

In [ ]:
x=4
y=5
6>x and 6<y

False

In [ ]:
x=4
y=5
6>x or 6<y

True

In [ ]:
x=4
y=5
not(x==y)

True

Help on built-in function round in module builtins:

round(number, ndigits=None)
    Round a number to a given precision in decimal digits.

    The return value is an integer if ndigits is omitted or None.  Otherwise
    the return value has the same type as the number.  ndigits may be negative.

In [ ]:
x=4
if x%2==0:
  print("This is an even number")
else:
  print("This is not an even number")

This is an even number

In [ ]:
a,b =12,12
if a==b:
  print("The two numbers are equal")
elif a>b:
  print("The first number if greater than second")
else:
  print("The first number is smaller than the second")

The two numbers are equal

In [ ]:
a=10
if a>0:
  print("The number is positive")
elif a<0:
  print("The number is negative")
else:
  print("The number is equal to zero")

The number is positive

In [ ]:
for i in range(0,6):
  print("The iteration is {}".format(i))
print("The end")

The iteration is 0
The iteration is 1
The iteration is 2
The iteration is 3
The iteration is 4
The iteration is 5
The end

In [ ]:
item=0
while item<6:
  print(item)
  item=1+item
print("The end!")

0
1
2
3
4
5
The end!

In [ ]:
targetv =5
iterate =2
while iterate <targetv:
  print("The iteration no. is {}, which is less than the target value {}".format(iterate, targetv))
  iterate=iterate+1
print("The end!")

The iteration no. is 2, which is less than the target value 5
The iteration no. is 3, which is less than the target value 5
The iteration no. is 4, which is less than the target value 5
The end!

In [ ]:
for i in range(1,6):#outer loop
  for j in range(1,11):#inner loop
    print(i*j, end=" ")

1 2 3 4 5 6 7 8 9 10 2 4 6 8 10 12 14 16 18 20 3 6 9 12 15 18 21 24 27 30 4 8 12 16 20 24 28 32 36 40 5 10 15 20 25 30 35 40 45 50

In [ ]:
colours = ["blue", "red", "yellow"]
cars = ["BMW", "Mercedes", "Range"]
for colour in colours:
  for car in cars:
    print(colour, car)

blue BMW
blue Mercedes
blue Range
red BMW
red Mercedes
red Range
yellow BMW
yellow Mercedes
yellow Range

In [ ]:
targetv=5
iterate =0
while iterate<targetv:
  print("Iteration number is {}, which is less than the target value".format(iterate,targetv))
  if iterate==3:
    print("Condition met")
    break
  iterate=iterate+1

Iteration number is 0, which is less than the target value
Iteration number is 1, which is less than the target value
Iteration number is 2, which is less than the target value
Iteration number is 3, which is less than the target value
Condition met

In [ ]:
targetv=5
iterate =0
while iterate<targetv:
  iterate=iterate+1
  if iterate==2:
    continue
  print("Iteration no is {},which is less than the taget value{}".format(iterate,targetv))

Iteration no is 1,which is less than the taget value5
Iteration no is 3,which is less than the taget value5
Iteration no is 4,which is less than the taget value5
Iteration no is 5,which is less than the taget value5

In [ ]:
names =["Mercy", "Anis", "Chris", "Israel"]
for name in names:
  if name =="Chris":
    continue
  print(name)

Mercy
Anis
Israel

In [ ]:
mylist =["Michael", "Sean", "Adam"]
mylist[0]="John"
print(mylist)

['John', 'Sean', 'Adam']

In [ ]:
mylist[0:2]

['John', 'Sean']

In [ ]:
print(len(mylist))

3

In [ ]:
print(type(mylist))

<class 'list'>

In [ ]:
mylist =["Michael", "Sean", "Adam"]
if "Sean" in mylist:
  print("Yes the element is present")

Yes the element is present

In [ ]:
mylist =["Michael", "Sean", "Adam"]
mylist.insert(0,"Mercy")
print(mylist)

['Mercy', 'Michael', 'Sean', 'Adam']

In [ ]:
mylist.append("John")
print(mylist)

['Mercy', 'Michael', 'Sean', 'Adam', 'John', 'John']

In [ ]:
mylist1 =["Michael", "Sean", "Adam"]
mylist2=["Zara", "Alex"]
mylist1.extend(mylist2)
print(mylist1)

['Michael', 'Sean', 'Adam', 'Zara', 'Alex']

In [ ]:
mylist3 =["Michael", "Sean", "Adam"]
mylist4=["Zara", "Alex"]
mylist4.extend(mylist3)
print(mylist4)

['Zara', 'Alex', 'Michael', 'Sean', 'Adam']

In [ ]:
mylist4.remove("Zara")
print(mylist4)

['Alex', 'Michael', 'Sean', 'Adam']

In [ ]:
mylist4.pop()
print(mylist4)

['Alex', 'Michael', 'Sean']

In [ ]:
mylist4.pop(1)
print(mylist4)

['Alex', 'Sean']

In [ ]:
mylist5=["Zara","Alex", "Zara", "Michael", "Sean", "Adam" ]
mylist5.remove("Zara")
print(mylist5)

['Alex', 'Zara', 'Michael', 'Sean', 'Adam']

In [ ]:
mylist5=["Zara","Alex", "Zara", "Michael", "Sean", "Adam" ]
mylist5.sort()
mylist5

['Adam', 'Alex', 'Michael', 'Sean', 'Zara', 'Zara']

In [ ]:
mylist5=["Zara","Alex", "Zara", "Michael", "Sean", "Adam" ]
for name in mylist5 :
  if name =="Zara":
    mylist5.remove("Zara")
print(mylist5)

['Alex', 'Michael', 'Sean', 'Adam']

In [ ]:
mylist5=["Zara","Alex", "Zara", "Michael", "Sean", "Adam" ]
mylist5.sort(reverse=True)
print(mylist5)

['Zara', 'Zara', 'Sean', 'Michael', 'Alex', 'Adam']

In [ ]:
mylist5.reverse()
print(mylist5)

['Adam', 'Alex', 'Michael', 'Sean', 'Zara', 'Zara']

In [ ]:
mylist5=["Zara","Alex", "Zara", "Michael", "Sean", "Adam" ]
mylist5.reverse()
print(mylist5)

['Adam', 'Sean', 'Michael', 'Zara', 'Alex', 'Zara']

In [ ]:
mylist5=["Zara","Alex", "Zara", "Michael", "Sean", "Adam" ]
mylist4=["Noun", "Adjectives", "Adverbs"]
mylist6=mylist5 +mylist4
print(mylist6)

['Zara', 'Alex', 'Zara', 'Michael', 'Sean', 'Adam', 'Noun', 'Adjectives', 'Adverbs']

In [ ]:
help(remove)

NameError: ignored

In [ ]:
companies=["tiktok", "whatsapp", "facebook"]
searchedfor="google"
if searchedfor in companies:
  print("Yes, the company you searched for {} is in there".format(searchedfor))
else:
 print("the programme you wrote is adding {}".format(searchedfor))
companies.append("google")
print(companies)

the programme you wrote is adding google
['tiktok', 'whatsapp', 'facebook', 'google']

In [ ]:
myteam =["manu", "liv", "ars", "che", "spurs"]
if "new" in myteam:
  print("Yes in my team") 
else:
  myteam.append("new")
print(myteam)

['manu', 'liv', 'ars', 'che', 'spurs', 'new']

In [ ]:
mylist3=["MUFC", "Leeds", "Chelsea", "Arsenal", "AVFC", "Spurs"]
if "ig" in mylist3:
  print("Citizens!")
elif mylist3 == "Spurs":
  print("Lillywhites")
else:
  mylist3.insert(1, "Liverpool")
print(mylist3)

['MUFC', 'Liverpool', 'Leeds', 'Chelsea', 'Arsenal', 'AVFC', 'Spurs']

In [ ]:
items = ["aws", "apple", "Tesla", "Chainlink"]
items1 = [0, 1, 2, 3,]
if "ig" in items:
  print("yes it is present in the items")
else:
  print("no it is not in the list")

no it is not in the list

In [ ]:
InstrumentList = ["Trombone", "Piano", "Guitar"]
InstrumentGuess = input ('Please put an instrument: ')
print ("You Selected {}".format(InstrumentGuess))
if InstrumentGuess in InstrumentList:
  print("{} is already part of the list!".format(InstrumentGuess))
else: 
  print("{} is not in the list so will be added".format(InstrumentGuess))
  InstrumentList.append("{}".format(InstrumentGuess))
print (InstrumentList)

Please put an instrument: ig
You Selected ig
ig is not in the list so will be added
['Trombone', 'Piano', 'Guitar', 'ig']

In [ ]:
tech1=["Meta","Google","Tesla", "Snap"]
if "ig" in tech1:
    print(tech1)
else:
    tech1.insert(4,"Pinterest")
    print(tech1)

['Meta', 'Google', 'Tesla', 'Snap', 'Pinterest']

In [ ]:
mylist7=["Meta","Google","Tesla", "Snap"]
element=input("Please input tech co. name (Capitalised)")
if element in mylist7:
  print("Tech company already exists")
else:
  mylist7.append(element)
  print("The new list is:", mylist7)

Please input tech co. name (Capitalised)Ig
The new list is: ['Meta', 'Google', 'Tesla', 'Snap', 'Ig']

In [ ]:
companies=["Meta","Google","Tesla","Snap"]
element=input("Please input tech co. name (Capitalised)")
if element in companies:
  print("Tech company already exists")
else:
  companies.append(element)
  print("The new list is:",companies)

Please input tech co. name (Capitalised)Ig
The new list is: ['Meta', 'Google', 'Tesla', 'Snap', 'Ig']

In [ ]:
companies=["Meta","Google","Tesla","Snap"]
for element in companies:
  print(element)

Meta
Google
Tesla
Snap

In [ ]:
companies=["Meta","Google","Tesla","Snap"]
for element in range(len(companies)):
  print(element, companies[element])

0 Meta
1 Google
2 Tesla
3 Snap

In [ ]:
a= [1,2,3,4,5,6]
c=[]
for x in a:
  c.append(x**2)
print(c)

[1, 4, 9, 16, 25, 36]

In [ ]:
a= [1,2,3,4,5,6]
b =[x**2 for x in a]
print(b)

[1, 4, 9, 16, 25, 36]

In [ ]:
mylist8=[letter.upper() for letter in "python"]
print(mylist8)

['P', 'Y', 'T', 'H', 'O', 'N']

In [ ]:
mydict={"employee":"Zara","salary":5000}
mydict["department"] ="sales"
print(len(mydict))

3

In [ ]:
mydict={"employee":"Zara","salary":5000,"department":"sales"}
if "department" in mydict:
  print("The key exists")

The key exists

In [ ]:
mydict={"employee":"Zara","salary":5000,"department":"sales"}
mydict.update({"salary":6000, "level":3})
print(mydict)

{'employee': 'Zara', 'salary': 6000, 'department': 'sales', 'level': 3}

In [ ]:
mydict={"employee":"Zara","salary":5000,"department":"sales"}
mydict.clear()
print(mydict)

{}

In [ ]:
mydict={"employee":"Zara","salary":5000,"department":"sales"}
del mydict["salary"]
print(mydict)

{'employee': 'Zara', 'department': 'sales'}

In [ ]:
mytuples= ("Audi", "Ford", "Tesla")
mylist9=list(mytuples)
mylist9[1]="BMW"
mytuples=tuple(mylist9)
print(mytuples)

('Audi', 'BMW', 'Tesla')

In [ ]:
myset={"APPLE", "BANANA"}
print(len(myset))

2

In [ ]:
mylist=[1000,20,20120,50,95,1021]
newlist_conventional = []
newlist_comprehension =[]
for i in mylist:
  if i<100:
    newlist_conventional.append(i)
print(newlist_conventional)

[20, 50, 95]

In [ ]:
mylist=[1000,20,20120,50,95,1021]
newlist_comprehension =[]
newlist_comprehension=[i for i in mylist if i<100]
print(newlist_comprehension)

[20, 50, 95]

In [ ]:
mylist=["Adam","Nick","Zara", "Rodrigue","Jimmie","Karen"]
newlist= []
newlist=[i for i in mylist if "a" in i]
print(newlist)

['Adam', 'Zara', 'Karen']

In [ ]:
newlist=[i for i in range (10)]
print(newlist)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
newlist=[i for i in range (10)if i<5]
print(newlist)

[0, 1, 2, 3, 4]

In [ ]:
newlist=[i for i in range (10)if i<5]
print(newlist)

[0, 1, 2, 3, 4]

In [ ]:
mylist=["Michael", "Sean", "Adam"]
newlist=[i.upper()for i in mylist]
print(newlist)

['MICHAEL', 'SEAN', 'ADAM']

In [ ]:
mylist=[1,2,["a",1],3]
sublist=mylist[2]
sublist
element=mylist[3]
print(element)

3

In [ ]:
mydict={"employee":"Zara", "department":"operations", "last salary":5000}
mydict.keys()

dict_keys(['employee', 'department', 'last salary'])

In [ ]:
mydict={"employee":"Zara", "department":"operations", "last salary":5000}
mydict.values()

dict_values(['Zara', 'operations', 5000])

In [ ]:
mydict={"employee":"Zara", "department":"operations", "last salary":5000}
mydict.items()

dict_items([('employee', 'Zara'), ('department', 'operations'), ('last salary', 5000)])

In [ ]:
mydict={"employee":"Zara", "department":"operations", "last salary":5000}
for keys,values in mydict.items():
  print(keys,values)
delete=input("Enter value:" )
mydict.pop(delete)
print(mydict)

employee Zara
department operations
last salary 5000
Enter value:employee
{'department': 'operations', 'last salary': 5000}

In [ ]:
matrix=[[0,1,2],[3,4,5],[6,7,8],[9,10,11]]
rows=len(matrix)
print(rows)
cols=len(matrix[0])
print(cols)

4
3

In [ ]:
matrix=[[0,1,2,9],[3,4,5,10],[6,7,8,11]]
rows=len(matrix)
print(rows)
cols=len(matrix[0])
print(cols)
for i in range((0),cols):
  print(matrix[i])

3
4
[0, 1, 2, 9]
[3, 4, 5, 10]
[6, 7, 8, 11]

IndexError: ignored

In [ ]:
5%2

1

In [ ]:
x=10
if x%2==0:
  print ("This is an even number!")

This is an even number!

In [ ]:
x=7
if x%2==0:
  print ("This is an even number!")
else:
  print("This is an odd number!")

This is an odd number!

In [ ]:
a,b=10,12
if a==b:
  print("The two numbers are equal")
elif a>b:
  print("The first no. is greater than the second!")
else:
  print("The first no. is less than the second!")

The first no. is less than the second!

In [ ]:
a=0
if a>0:
  print("This is a posive no.")
elif a==0:
  print("The no. is equal zero")
else:
  print("This is a negative no.")

The no. is equal zero

In [ ]:
for a in range(0,6):
  print("The iteration number is {}". format(a))

The iteration number is 0
The iteration number is 1
The iteration number is 2
The iteration number is 3
The iteration number is 4
The iteration number is 5

In [ ]:
i=0
while i<5:
  print(i)
  i=i+1
print("THE END!")

0
1
2
3
4
THE END!

In [ ]:
targetvalue=5
Iterate =0
while Iterate<targetvalue:
  print("The iteration no. is {}, which is less than the target value{}".format(Iterate,targetvalue))
  Iterate=Iterate+1
print("THE END!")

The iteration no. is 0, which is less than the target value5
The iteration no. is 1, which is less than the target value5
The iteration no. is 2, which is less than the target value5
The iteration no. is 3, which is less than the target value5
The iteration no. is 4, which is less than the target value5
THE END!

In [ ]:
colours=["blue", "red", "yellow", "grey"]
cars=["Range", "BMW", "Tesla"]
for colour in colours:#outer loop
  for car in cars:#inner loop
    print(colour,car)

blue Range
blue BMW
blue Tesla
red Range
red BMW
red Tesla
yellow Range
yellow BMW
yellow Tesla
grey Range
grey BMW
grey Tesla

In [ ]:
for i in range(0,6):#outer loop
  for x in range(0,10):
    print(i*x, end=" ")
  print()

0 0 0 0 0 0 0 0 0 0
0 1 2 3 4 5 6 7 8 9
0 2 4 6 8 10 12 14 16 18
0 3 6 9 12 15 18 21 24 27
0 4 8 12 16 20 24 28 32 36
0 5 10 15 20 25 30 35 40 45

In [ ]:
colours =["blue","red","yellow","grey"]
cars= ["range", "BMW","Tesla"]
for colour in colours: 
 for car in cars : 
  print(car,colour)

range blue
BMW blue
Tesla blue
range red
BMW red
Tesla red
range yellow
BMW yellow
Tesla yellow
range grey
BMW grey
Tesla grey

In [ ]:
for i in range(0,6):
 for x in range(0,10):
  print(i*x, end="")
 print()

0000000000
0123456789
024681012141618
0369121518212427
04812162024283236
051015202530354045

In [ ]:
mylist=["Michael", "Sean", "Adam"]
print(mylist)
type(mylist)

['Michael', 'Sean', 'Adam']

list

In [ ]:
mylist=["Michael", "Sean", "Adam"]
mylist[2]

'Adam'

In [ ]:
mylist=["Michael", 5000,"Sean", "Adam"]
print(mylist)

['Michael', 5000, 'Sean', 'Adam']

In [ ]:
mylist=["Michael", "Sean", "Adam"]
type(mylist)

list

In [ ]:
mylist=["Michael", "Sean", "Adam"]
mylist[1]="Ali"
print(mylist)

['Michael', 'Ali', 'Adam']

In [ ]:
mylist=["Michael", "Sean", "Adam"]
print(len(mylist))

3

In [ ]:
mylist=["Michael", "Sean", "Adam"]
if "Michael" in mylist:
  print("Yes the element is found")

Yes the element is found

In [ ]:
mylist=["Michael", "Sean", "Adam"]
mylist.insert(0,"Zara")
print(mylist)

['Zara', 'Michael', 'Sean', 'Adam']

In [ ]:
mylist=["Michael", "Sean", "Adam"]
mylist.insert(3,"Paul")
print(mylist)

['Michael', 'Sean', 'Adam', 'Paul']

In [ ]:
mylist=["Michael", "Sean", "Adam"]
mylist.append("Paul")
print(mylist)

['Michael', 'Sean', 'Adam', 'Paul']

In [ ]:
mylist1=["Michael", "Sean", "Adam"]
mylist2=["Zara", "Paul"]
mylist1.extend(mylist2)
print(mylist1)

['Michael', 'Sean', 'Adam', 'Zara', 'Paul']

In [ ]:
mylist1=["Michael", "Sean", "Adam","Zara", "Paul"]
mylist1.remove("Paul")
print(mylist)

['Michael', 'Sean', 'Adam', 'Paul']

In [ ]:
mylist1=["Michael", "Sean", "Adam","Zara", "Paul"]
mylist1.pop(1)
print(mylist1)

['Michael', 'Adam', 'Zara', 'Paul']

In [ ]:
mylist1=["Michael", "Sean", "Adam","Zara", "Paul"]
mylist1.pop(1)
print(mylist1)

['Michael', 'Adam', 'Zara', 'Paul']

In [ ]:
mylist1=["Michael", "Sean", "Adam","Zara", "Paul"]
mylist1.sort()
print(mylist1)

['Adam', 'Michael', 'Paul', 'Sean', 'Zara']

In [ ]:
mylist1=["Michael", "Sean", "Adam","Zara", "Paul"]
mylist1.sort(reverse=True)
print(mylist1)

['Zara', 'Sean', 'Paul', 'Michael', 'Adam']

In [ ]:
mylist1=["Michael", "Sean", "Adam"]
mylist2=["Zara", "Paul"]
mylist3=mylist1+mylist2
print(mylist3)

['Michael', 'Sean', 'Adam', 'Zara', 'Paul']

In [ ]:
mylist1=["Michael", "Sean", "Adam"]
mylist2=["Zara", "Paul"]
mylist3=mylist1+mylist2
help(mylist3.append)

Help on built-in function append:

append(object, /) method of builtins.list instance
    Append object to the end of the list.

In [ ]:
mylist=["Michael","Zara", "Sean","Zara", "Adam","Zara", "Paul"]
for i in mylist:
  if i ="Zara":
  mylist.remove(Zara):
  print(mydict)
else:
Print(mylist)

SyntaxError: ignored

In [ ]:
fruits = ["Apples", "Pears", "Plums", "Bananas"]
input = "Peaches"
if input in fruits:
  print("Fruit is already in the list")
else:
  fruits.append(input)
  print(fruits)

['Apples', 'Pears', 'Plums', 'Bananas', 'Peaches']

In [ ]:
mylist=["Google", "Instagram", "Meta", "Snapchat"]
element=input("Please input tech co. name (Capitalised form):")
if element in mylist:
  print("Tech co.already exist")
else:
  mylist.append(element)
  print("The new list is:",mylist)

Please input tech co. name (Capitalised form):Google
Tech co.already exist

In [ ]:
mylist = ["Michael", "Sean", "Adam"]
answer = input("Write your favourite name:")
if input in mylist:
  print("It's in the list")
else:
  mylist.insert(0,answer)
  print(mylist)

Write your favourite name:John
['John', 'Michael', 'Sean', 'Adam']

In [ ]:
mylist = ["Michael", "Sean", "Adam"]
for element in mylist:
  print(element)

Michael
Sean
Adam

In [ ]:
mylist = ["Michael", "Sean", "Adam"]
for element in range(len(mylist)):
  print(element,mylist[element])

0 Michael
1 Sean
2 Adam

In [ ]:
mylist=[1000,20,20120,50,95,1021]
mynewlist=[]
for i in mylist:
  if i<100:
    mynewlist.append(i)
print(mynewlist)

[20, 50, 95]

In [ ]:
mylist=[1000,20,20120,50,95,1021]#comprehension formula
mynewlist_com=[a for a in mylist if a<100]
print(mynewlist_com)

[20, 50, 95]

In [ ]:
a= [1,2,3,4,5,6]
#[1,4,9,16,25,36]
b=[]
for i in a:
  b.append(i**2)
print(b)

[1, 4, 9, 16, 25, 36]

In [ ]:
a= [1,2,3,4,5,6]#comprehension formula
b=[i**2 for i in a]
print(b)

[1, 4, 9, 16, 25, 36]

In [ ]:
mylist = ["Michael", "Sean", "Adam"]
mynewlist=[i.upper()for i in mylist]
print(mynewlist)

['MICHAEL', 'SEAN', 'ADAM']

In [ ]:
mylist=[letter.upper() for letter in "python"]
print(mylist)

['P', 'Y', 'T', 'H', 'O', 'N']

In [ ]:
mylist=[1,2,["a",1,4],3]
mylist[2]

['a', 1, 4]

In [ ]:
mylist=[1,2,["a",1,4],3]
mylist[2][2]

4

In [ ]:
mylist[0]

1

In [ ]:
mylist[1]

2

In [ ]:
mylist[2][0]

'a'

In [ ]:
mylist[2][1]

1

In [ ]:
mylist[3]

3

In [ ]:
matrix =[[0,1,2],[3,4,5], [6,7,8],[9,11,12]]
rows= len(matrix)
cols=len(matrix[0])
print(rows)
print(cols)

4
3

In [ ]:
matrix =[[0,1,2],[3,4,5], [6,7,8],[9,11,12]]
rows= len(matrix)
cols=len(matrix[0])
for i in range(0,rows):
  print(matrix[i])

[0, 1, 2]
[3, 4, 5]
[6, 7, 8]
[9, 11, 12]

In [ ]:
print(matrix[1][0])

3

In [ ]:
print(matrix[1][1])

4

In [ ]:
mydict={"employee":"Zara","department":"operations","last salary":5000}
print(mydict)

{'employee': 'Zara', 'department': 'operations', 'last salary': 5000}

In [ ]:
mydict={"employee":"Zara","department":"operations","last salary":5000}
print(mydict["department"])

operations

In [ ]:
mydict={
    "employee":"Zara","department":"operations","last salary":5000
    }
mydict["department"]="sales"
print(mydict)

{'employee': 'Zara', 'department': 'sales', 'last salary': 5000}

In [ ]:
mydict={"employee":"Zara","department":"operations","last salary":5000}
print(len(mydict))

3

In [ ]:
mydict={"employee":"Zara","department":"operations","last salary":5000}
print(type(mydict))

<class 'dict'>

In [ ]:
mydict={
    1:{"employee":"Zara","department":"operations","last salary":5000},
    2:{"employee":"Arjun","department":"sales","last salary":4000}
}
print(mydict[2])

{'employee': 'Arjun', 'department': 'sales', 'last salary': 4000}

In [ ]:
mydict={
    1:{"employee":"Zara","department":"operations","last salary":5000},
    2:{"employee":"Arjun","department":"sales","last salary":4000}
}
print(mydict[2]["employee"])

Arjun

In [ ]:
mydict= {"employee":"Zara","department":"operations","last salary":5000}
print(mydict.keys())

dict_keys(['employee', 'department', 'last salary'])

In [ ]:
mydict= {"employee":"Zara","department":"operations","last salary":5000}
print(mydict.values())

dict_values(['Zara', 'operations', 5000])

In [ ]:
mydict= {"employee":"Zara","department":"operations","last salary":5000}
print(mydict.items())

dict_items([('employee', 'Zara'), ('department', 'operations'), ('last salary', 5000)])

In [ ]:
mydict= {"employee":"Zara","department":"operations","last salary":5000}
if "department" in mydict:
  print("Yes key value =department is present")

Yes key value =department is present

In [ ]:
mydict= {"employee":"Zara","department":"operations","last salary":5000}
mydict.update({"employee":"John"})
print(mydict)

{'employee': 'John', 'department': 'operations', 'last salary': 5000}

In [ ]:
mydict= {"employee":"Zara","department":"operations","last salary":5000}
mydict.update({"status":"level 3"})
print(mydict)

{'employee': 'Zara', 'department': 'operations', 'last salary': 5000, 'status': 'level 3'}

In [ ]:
mydict= {"employee":"Zara","department":"operations","last salary":5000}
mydict.pop("last salary")
print(mydict)

{'employee': 'Zara', 'department': 'operations'}

In [ ]:
mydict= {"employee":"Zara","department":"operations","last salary":5000}
del mydict["last salary"]
print(mydict)

{'employee': 'Zara', 'department': 'operations'}

In [ ]:
mydict= {"employee":"Zara","department":"operations","last salary":5000}
del mydict
print(mydict)

NameError: ignored

In [ ]:
mydict= {"employee":"Zara","department":"operations","last salary":5000}
for item in mydict.values():
  print(item)

Zara
operations
5000

In [ ]:
mydict= {"employee":"Zara","department":"operations","last salary":5000}
for keys,values in mydict.items():
  print(keys,values)

employee Zara
department operations
last salary 5000

In [ ]:
mytuple=("Audi", "Ford", "Tesla",5000,True)
print(mytuple[2])

Tesla

In [ ]:
mytuple=("Audi", "Ford", "Tesla",5000,True)
mylist=list(mytuple)
mylist[0]="Toyota"
mytuple=tuple(mylist)
print(mytuple)

('Toyota', 'Ford', 'Tesla', 5000, True)

In [ ]:
mytuple=("Audi", "Ford", "Tesla",5000,True)
print(mytuple.index("Audi"))

0

In [ ]:
mytuple=("Audi", "Ford", "Audi","Tesla",5000,True)
print(mytuple.count("Audi"))

2

In [ ]:
mytuple=("Audi", "Ford", "Tesla",5000,True)
for item in mytuple:
  print(item)

Audi
Ford
Tesla
5000
True

In [ ]:
mytuple=("Audi", "Ford", "Tesla")
car1,car2, car3=mytuple
print(car1)
print(car2)
print(car3)

Audi
Ford
Tesla

In [ ]:
myset={"apple", "banana", "orange", 1,3,5,True}
print(len(myset))
print(type(myset))

6
<class 'set'>

In [ ]:
myset={"apple", "banana", "orange", 1,3,5,True}
for item in myset:
  print(item)

1
3
apple
5
orange
banana

In [ ]:
myset1={3,4}
myset2={3,4,5,6}
print(myset1.intersection(myset2))

{3, 4}

In [ ]:
myset3

In [ ]:
myset1={3,4}
myset2={3,4,5,6}
print(myset1.union(myset2))

{3, 4, 5, 6}

In [ ]:
import numpy as np

In [ ]:
import pandas as pd

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
import seaborn as sns

In [ ]:
import math

In [ ]:
import scipy

In [ ]:
!pip install pyodbc
import pyodbc

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyodbc
  Downloading pyodbc-4.0.34-cp37-cp37m-manylinux_2_24_x86_64.whl (472 kB)
     || 472 kB 5.0 MB/s
Installing collected packages: pyodbc
Successfully installed pyodbc-4.0.34

In [ ]:
x=9
if x%2==0:
  print("This number is even!")

In [ ]:
x=9
if x%2==0:
  print("This number is even!")
else:
  print("This is an odd number!")

This is an odd number!

In [ ]:
a,b=10,12
if a==b:
  print("The two numbers are equal")
elif a<b:
  print("The first number is smaller than the second")
else:
  print("The first number is greater than the second")

The first number is smaller than the second

In [ ]:
a = -1
if a>0:
  print("This number is positive")
elif a<0:
    print("This number is negative")
else:
  print("This number is 0")

This number is negative

In [ ]:
for i in range(0,6):
  print(i)

0
1
2
3
4
5

In [ ]:
for i in range(0,6):
  print("The iteration number is {}".format(i))

The iteration number is 0
The iteration number is 1
The iteration number is 2
The iteration number is 3
The iteration number is 4
The iteration number is 5

In [ ]:
i=0
while i<5:
  print(i)
  i=i+1
print("THE END!")

0
1
2
3
4
THE END!

In [ ]:
targetvalue =6
iterate =0
while iterate<targetvalue:
  print("iteration number  is {}, which is less than the target value {}".format(iterate, targetvalue))
  iterate =iterate+1

iteration number  is 0, which is less than the target value 6
iteration number  is 1, which is less than the target value 6
iteration number  is 2, which is less than the target value 6
iteration number  is 3, which is less than the target value 6
iteration number  is 4, which is less than the target value 6
iteration number  is 5, which is less than the target value 6

In [ ]:
targetvalue =6
iterate =0
while iterate<targetvalue:
  print("iteration number  is {}, which is less than the target value {}".format(iterate, targetvalue))
  if iterate==3:
    break
  iterate =iterate+1

iteration number  is 0, which is less than the target value 6
iteration number  is 1, which is less than the target value 6
iteration number  is 2, which is less than the target value 6
iteration number  is 3, which is less than the target value 6

In [ ]:
targetvalue =6
iterate =0
while iterate<targetvalue:
  iterate=iterate+1
  if iterate==3:
    continue
  print("The iteration value is {}, which is less than the target value {}".format(iterate,targetvalue))

The iteration value is 1, which is less than the target value 6
The iteration value is 2, which is less than the target value 6
The iteration value is 4, which is less than the target value 6
The iteration value is 5, which is less than the target value 6
The iteration value is 6, which is less than the target value 6

In [ ]:
a = 1
while a < 100:
  print(a)
  a = a+1
  if a==11:
    break

1
2
3
4
5
6
7
8
9
10

In [ ]:
targetvalue =6
iterate =0
while iterate<targetvalue:
  iterate=iterate+1
  if iterate==3:
   continue
  print("The iteration value is {}, which is less than the target value {}".format(iterate,targetvalue))

The iteration value is 1, which is less than the target value 6
The iteration value is 2, which is less than the target value 6
The iteration value is 4, which is less than the target value 6
The iteration value is 5, which is less than the target value 6
The iteration value is 6, which is less than the target value 6

In [ ]:
targetvalue =6
iterate =0
while iterate<targetvalue:
  iterate=iterate+1
  if iterate>=3 and iterate<=5:
   continue
  print("The iteration value is {}, which is less than the target value {}".format(iterate,targetvalue))

The iteration value is 1, which is less than the target value 6
The iteration value is 2, which is less than the target value 6
The iteration value is 6, which is less than the target value 6

In [ ]:
 targetvalue =6
iterate =0
while iterate<targetvalue:
  iterate=iterate+1
  if iterate in range(3,6):
   continue
  print("The iteration value is {}, which is less than the target value {}".format(iterate,targetvalue))

The iteration value is 1, which is less than the target value 6
The iteration value is 2, which is less than the target value 6
The iteration value is 6, which is less than the target value 6

In [ ]:
mylist=["Michael", "Sean","Adam"]
print(mylist)

['Michael', 'Sean', 'Adam']

In [ ]:
mylist=["Michael", "Sean","Adam"]
mylist[0]

'Michael'

In [ ]:
mylist=["Michael", "Sean","Adam", 5000,True]
type(mylist)

list

In [ ]:
mylist=["Michael", "Sean","Adam", 5000,True]
mylist[0]="John"
print(mylist)

['John', 'Sean', 'Adam', 5000, True]

In [ ]:
mylist=["Michael", "Sean","Adam", 5000,True]
mylist[1:3]

['Sean', 'Adam']

In [ ]:
mylist=["Michael", "Sean","Adam", 5000,True]
print(len(mylist))

5

In [ ]:
mylist=["Michael", "Sean","Adam", 5000,True]
if "Sean" in mylist:
  print("Yes the element exist")

Yes the element exist

In [ ]:
mylist=["Michael", "Sean","Adam", 5000,True]
mylist.insert(1,"John")
print(mylist)

['Michael', 'John', 'Sean', 'Adam', 5000, True]

In [ ]:
mylist=["Michael", "Sean","Adam", 5000,True]
mylist.append("Zara")
print(mylist)

['Michael', 'Sean', 'Adam', 5000, True, 'Zara']

In [ ]:
mylist1=["Michael", "Sean","Adam", 5000,True]
mylist2=["Zara", "Paul","John"]
mylist2.extend(mylist1)
print(mylist2)

['Zara', 'Paul', 'John', 'Michael', 'Sean', 'Adam', 5000, True]

In [ ]:
mylist=["Michael", "Sean","Adam", 5000,True]#removes a certain element
mylist.remove(5000)
print(mylist)

['Michael', 'Sean', 'Adam', True]

In [ ]:
mylist=["Michael", "Sean","Adam", 5000,True]#pops a specified index
mylist.pop(3)
print(mylist)

['Michael', 'Sean', 'Adam', True]

In [ ]:
mylist=["Michael", "Sean","Adam", 5000,True]#automically removes the last element
mylist.pop()
print(mylist)

['Michael', 'Sean', 'Adam', 5000]

In [ ]:
#sort
mylist=["Michael", "Sean","Adam"]#Ascending
mylist.sort()
print(mylist)

['Adam', 'Michael', 'Sean']

In [ ]:
mylist=["Michael", "Sean","Adam"]#desc
mylist.sort(reverse=True)
print(mylist)

['Sean', 'Michael', 'Adam']

In [ ]:
mylist=['Sean', 'Michael', 'Adam']#reverse
mylist.reverse()
print(mylist)

['Adam', 'Michael', 'Sean']

In [ ]:
mylist=["Michael", "Sean","Adam"] #reverse
mylist.reverse()
print(mylist)

['Adam', 'Sean', 'Michael']

In [ ]:
mylist1=["Michael", "Sean","Adam", 5000,True]
mylist2=["Zara", "Paul","John"]
mylist3=mylist2+mylist1
print(mylist3)

['Zara', 'Paul', 'John', 'Michael', 'Sean', 'Adam', 5000, True]

In [ ]:
mylist=["Michael", "Sean","Adam"] #getting help
help(mylist.append)

Help on built-in function append:

append(object, /) method of builtins.list instance
    Append object to the end of the list.

In [ ]:
mylist =["google", "Meta", "Instagram", "Tiktok", "Snapchat"]
element = input("Please input tech co. name (in Capitalised form):")
if element in mylist:
  print("The tech co. already exists")
else:
  mylist.append(element)
  print(mylist)

Please input tech co. name (in Capitalised form):Twitter
['google', 'Meta', 'Instagram', 'Tiktok', 'Snapchat', 'Twitter']

In [ ]:
mylist =["google", "Meta", "Instagram", "Tiktok", "Snapchat"]
element = input("Please input tech co. name (in Capitalised form):")
if element in mylist:
  print("The tech co. already exists")
else:
  mylist.append(element)
  print("The new list is:", mylist)

Please input tech co. name (in Capitalised form):Twitter
The new list is: ['google', 'Meta', 'Instagram', 'Tiktok', 'Snapchat', 'Twitter']

In [133]:
mylist =["google", "Meta", "Instagram", "Tiktok", "Snapchat"]
print(mylist)

['google', 'Meta', 'Instagram', 'Tiktok', 'Snapchat']

In [134]:
mylist =["google", "Meta", "Instagram", "Tiktok", "Snapchat"]#looping #returning each item seperately
for element in mylist:
  print(element)

google
Meta
Instagram
Tiktok
Snapchat

In [140]:
a=[1,2,3,4,5,6,7]#conventional 
#=2,4,6,8,10,12,14
b=[]
for i in a:
  b.append(i*2)
print(b)

[2, 4, 6, 8, 10, 12, 14]

In [142]:
a=[1,2,3,4,5,6,7]#comprehension
b=[i*2 for i in a]
print(b)

[2, 4, 6, 8, 10, 12, 14]

In [144]:
mylist=[1000,20,20120,50,95,1021]#conventional way
mynewlist=[]
for i in mylist:
  if i<100:
    mynewlist.append(i)
print(mynewlist)

[20, 50, 95]

In [146]:
mylist=[1000,20,20120,50,95,1021]#comprehension
mynewlist=[i for i in mylist if i<100]
print(mynewlist)

[20, 50, 95]

In [148]:
mylist=["Michael", "Sean", "Adam", "Zara"]#comprehension
mynewlist=[i.upper() for i in mylist]
print(mynewlist)

['MICHAEL', 'SEAN', 'ADAM', 'ZARA']

In [149]:
mylist=[letter.upper() for letter in "python"]#comprehension
print(mylist)

['P', 'Y', 'T', 'H', 'O', 'N']

In [151]:
mylist=[1,2,["a",1],3]#sublist
sublist=mylist[2]
print(sublist)

['a', 1]

In [152]:
mylist=[1,2,["a",1],3]
mylist[3]

3

In [153]:
mylist=[1,2,["a",1],3]
mylist[2][0]

'a'

In [154]:
mylist=[1,2,["a",1],3]
mylist[2][1]

1

In [ ]:
matrix=[[0,1,2],[3,4,5],[6,7,8],[9,10,11]]

In [161]:
matrix=[[0,1,2],#creating rows and cols
        [3,4,5],
        [6,7,8],
        [9,10,11]]
rows=len(matrix)
cols=len(matrix[0])
print(rows)
print(cols)

4
3

In [165]:
matrix=[[0,1,2],
        [3,4,5],
        [6,7,8],
        [9,10,11]]
rows=len(matrix)
cols=len(matrix[0])
for i in range(0,rows):
  print(matrix[i])

[0, 1, 2]
[3, 4, 5]
[6, 7, 8]
[9, 10, 11]

In [166]:
matrix[1][0]

3

In [167]:
matrix[3][1]

10

In [168]:
mydict={"employee":"Zara","department":"operations","last salary":5000}

In [169]:
mydict={
    "employee":"Zara","department":"operations","last salary":5000
    }

In [170]:
mydict={"employee":"Zara","department":"operations","last salary":5000}
print(mydict)

{'employee': 'Zara', 'department': 'operations', 'last salary': 5000}

In [171]:
mydict={"employee":"Zara","department":"operations","last salary":5000}
print(mydict["employee"])

Zara

In [172]:
mydict={"employee":"Zara","department":"operations","last salary":5000}
mydict["department"] ="sales"
print(mydict)

{'employee': 'Zara', 'department': 'sales', 'last salary': 5000}

In [173]:
mydict={"employee":"Zara","department":"operations","last salary":5000}
print(len(mydict))

3

In [174]:
mydict={"employee":"Zara","department":"operations","last salary":5000}
print(type(mydict))

<class 'dict'>

In [177]:
mydict={
    1: {"employee":"Zara","department":"operations","last salary":5000},
    2: {"employee":"Sean","department":"sales","last salary":4000}
    }

In [178]:
print(mydict[1])

{'employee': 'Zara', 'department': 'operations', 'last salary': 5000}

In [179]:
print(mydict[2])

{'employee': 'Sean', 'department': 'sales', 'last salary': 4000}

In [181]:
print(mydict[1]["employee"])

Zara

In [182]:
mydict={"employee":"Zara","department":"operations","last salary":5000}
mydict.keys()

dict_keys(['employee', 'department', 'last salary'])

In [183]:
mydict={"employee":"Zara","department":"operations","last salary":5000}
mydict.values()

dict_values(['Zara', 'operations', 5000])

In [184]:
mydict={"employee":"Zara","department":"operations","last salary":5000}
mydict.items()

dict_items([('employee', 'Zara'), ('department', 'operations'), ('last salary', 5000)])

In [186]:
mydict={"employee":"Zara","department":"operations","last salary":5000}
if "department" in mydict:
  print("Yes the key exists")

Yes the key exists

In [187]:
mydict={"employee":"Zara","department":"operations","last salary":5000}
mydict.update({"employee":"Sean"})
print(mydict)

{'employee': 'Sean', 'department': 'operations', 'last salary': 5000}

In [188]:
mydict={"employee":"Zara","department":"operations","last salary":5000}
mydict.update({"status":"permanent"})
print(mydict)

{'employee': 'Zara', 'department': 'operations', 'last salary': 5000, 'status': 'permanent'}

In [189]:
mydict={"employee":"Zara","department":"operations","last salary":5000, "status": "permanent"}
mydict.pop("status")
print(mydict)

{'employee': 'Zara', 'department': 'operations', 'last salary': 5000}

In [191]:
mydict={"employee":"Zara","department":"operations","last salary":5000, "status": "permanent"}
del mydict["status"]
print(mydict)

{'employee': 'Zara', 'department': 'operations', 'last salary': 5000}

In [192]:
mydict={"employee":"Zara","department":"operations","last salary":5000, "status": "permanent"}
del mydict
print(mydict)

NameError: ignored

In [193]:
mydict={"employee":"Zara","department":"operations","last salary":5000, "status": "permanent"}
mydict.clear()
print(mydict)

{}

In [194]:
mydict={"employee":"Zara","department":"operations","last salary":5000, "status": "permanent"}
for item in mydict.values():
  print(item)

Zara
operations
5000
permanent

In [195]:
mydict={"employee":"Zara","department":"operations","last salary":5000, "status": "permanent"}
for item in mydict.keys():
  print(item)

employee
department
last salary
status

In [196]:
mydict={"employee":"Zara","department":"operations","last salary":5000, "status": "permanent"}
for keys,values in mydict.items():
  print(keys,values)

employee Zara
department operations
last salary 5000
status permanent

In [198]:
mytuple=("Audi", "Ford", "Tesla", 5000,True)
type(mytuple)

tuple

In [199]:
mytuple=("Audi", "Ford", "Tesla", 5000,True)
mytuple[1]

'Ford'

In [200]:
mytuple=("Audi", "Ford", "Tesla", 5000,True)
mytuple[0:3]

('Audi', 'Ford', 'Tesla')

In [203]:
mytuple=("Audi", "Ford", "Tesla", 5000,True)
mylist=list(mytuple)#changing tuple to a list
mylist[0]="Toyota"
mytuple=tuple(mylist)#changing to a tuple
print(mytuple)

('Toyota', 'Ford', 'Tesla', 5000, True)

In [204]:
mytuple=("Audi", "Ford", "Tesla", 5000,True)
mytuple.index("Tesla")

2

In [206]:
mytuple=("Audi", "Ford","Audi", "Tesla", "Audi",5000,True)
mytuple.count("Audi")

3

In [207]:
mytuple=("Audi", "Ford","Audi", "Tesla", "Audi",5000,True)
for i in mytuple:
  print(i)

Audi
Ford
Audi
Tesla
Audi
5000
True

In [211]:
mytuple=("Audi", "Ford", "Tesla")#packing
car1,car2, car3=mytuple#unpacking
print(car1)
print(car2)
print(car3)

Audi
Ford
Tesla

In [216]:
myset={"Audi", "Ford", "Tesla", 5000,True}
print(myset)
len(myset)
type(myset)

{'Ford', True, 'Audi', 5000, 'Tesla'}

set

In [218]:
myset={"Audi", "Ford", "Tesla", 5000,True}
for i in myset:
  print(i)

Ford
True
Audi
5000
Tesla

In [219]:
myset={"Audi", "Ford", "Tesla", 5000,True}
myset.add("apples")
print(myset)

{'Ford', True, 'Audi', 5000, 'apples', 'Tesla'}

In [220]:
myset={"Audi", "Ford", "Tesla", 5000,True}
myset.pop()
print(myset)

{True, 'Audi', 5000, 'Tesla'}

In [221]:
myset1={3,4}
myset2={1,2,3,4,5,6}
myset1.union(myset2)

{1, 2, 3, 4, 5, 6}

In [222]:
myset1={3,4}
myset2={1,2,3,4,5,6}
myset1.intersection(myset2)

{3, 4}

In [223]:
myset1={3,4}
myset2={1,2,3,4,5,6}
myset1.issubset(myset2)

True

In [224]:
import numpy as np

In [225]:
import pandas as pd

In [226]:
import matplotlib.pyplot as plt

In [227]:
import seaborn as sns

In [229]:
import math

In [228]:
import scipy

In [230]:
import pyodc

ModuleNotFoundError: ignored

In [231]:
!pip install pyodc
import pyodc

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyodc
  Downloading pyodc-1.1.4.tar.gz (26 kB)
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
    Preparing wheel metadata ... done
Requirement already satisfied: cffi in /usr/local/lib/python3.7/dist-packages (from pyodc) (1.15.1)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from pyodc) (1.3.5)
Requirement already satisfied: pycparser in /usr/local/lib/python3.7/dist-packages (from cffi->pyodc) (2.21)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pyodc) (2022.6)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pyodc) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pyodc) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->pyodc) (1.15.0)
Building wheels for collected packages: pyodc
  Building wheel for pyodc (PEP 517) ... done
  Created wheel for pyodc: filename=pyodc-1.1.4-py3-none-any.whl size=28062 sha256=d2ea2be7e20e4e47b61536bab87d90771d6ace8920e1b6be5dffb20f9e054c85
  Stored in directory: /root/.cache/pip/wheels/cb/ea/82/e6d792d2557f2b621a829b888a93051f52894fb75b200bbb7c
Successfully built pyodc
Installing collected packages: pyodc
Successfully installed pyodc-1.1.4